@use "./../abstracts/mixins"as mix;
@use "./../abstracts/variables"as var;
@use "sass:math";

.menu {
    flex: 0 0 20%;


    .menu-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        .menu-small {
            color: var.$text-color-grey;

            h2 {
                color: var.$bube-chocolate;
            }

            .hamburger {
                display: none;
                position: relative;

                a {
                    color: var.$bube-chocolate
                }

                .fa-burger {
                    font-size: 20px;
                }

                .fa-headphones {
                    position: absolute;
                    top: -6px;
                    left: -10px;
                    font-size: 40px;
                }
            }
        }




        .menu-wrap ul {
            position: fixed;
            color: var.$text-color-grey;

            li {


                &:nth-child(odd):not(:first-child) {




                    a {
                        color: #fff;
                        background-color: var.$bube-chocolate;
                        padding: math.div(var.$gutter-base, 6);
                        font-weight: var.$font-weight-bold;
                        border-radius: math.div(var.$gutter-base, 8);
                    }











                }

                &:not(:last-child) {
                    margin-bottom: var.$gutter-base;
                }

                a {
                    color: var.$text-color-grey;
                }
            }
        }
    }

    footer {

        font-size: math.div(var.$gutter-base, 4);

        span {
            font-weight: var.$font-weight-bold;

            &:nth-child(2) {
                color: chocolate;
                font-size: math.div(var.$gutter-base, 3);
            }
        }

    }
}

@include mix.tablet-styles {

    .menu {
        height: fit-content;
        position: absolute;
        width: 100%;
        top: math.div(var.$gutter-base, 2);





        .menu-inner {
            display: block;



            .menu-wrap {
                width: 100%;

                .menu-small {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 80%;
                    margin: 0 auto;

                    @include mix.mobile-l-styles {
                        justify-content: space-around;

                    }

                    h2 {
                        margin-bottom: 0;
                        font-weight: math.div(var.$font-weight-normal, 2);

                        @include mix.mobile-s-styles {
                            font-size: math.div(var.$gutter-base, 2);
                        }

                    }

                    .hamburger {
                        display: block;
                    }




                }

                ul {
                    display: none;
                }



            }

            footer {
                display: none;

            }



        }

    }
}