@use "./../abstracts/variables"as var;
@use "./../abstracts/mixins"as mix;
@use "sass:math";


.image-gallery {
    flex: 0 0 80%;



    .image-gallery-row {
        display: flex;
        flex-wrap: wrap;
        @extend %wrap;


        @include mix.mobile-l-styles {
            display: block;
        }



        .img-inner {
            flex-basis: 33.33%;
            cursor: pointer;
            position: relative;

            img {

                z-index: 999;
                position: relative;
            }

            &::before {

                content: "coded by bube";
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 0 0 0 var.$text-color-grey;
                border-top: 1px solid var.$text-color-grey;
                border-bottom: 1px solid var.$text-color-grey;
                padding: 10px 0 10px;

                @media(max-width:1295px) and (min-width:768px) {
                    font-size: math.div(var.$gutter-base, 3.3);
                }





            }






            &:hover {
                background-color: var.$text-color-primary;


                img {
                    visibility: hidden;



                }
            }



            @include mix.tablet-styles {
                flex-basis: 50%;

            }





        }
    }
}

@include mix.tablet-styles {
    .image-gallery {
        padding-top: var.$gutter-base;
        flex: 1;

        .image-gallery-row {
            .img-inner {
                flex-basis: 50%;
            }
        }
    }
}